__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
venv_test/
.env
db.sqlite3
media/
staticfiles/
.DS_Store
.idea/
.vscode/
.elasticbeanstalk/
.ebextensions/
*.zip
*.log
instance/
.webassets-cache
.coverage
.pytest_cache/
